<h1>Smart assistant</h1>

<button id="send" class="send">
  <svg viewBox="0 0 90.594 59.714">
    <polyline class="check" fill="none" stroke="#FFFFFF" stroke-width="10" stroke-miterlimit="10" points="1.768,23.532 34.415,56.179 88.826,1.768"/>
  </svg>
  <span>Talk</span>
</button>